@font-face {
    font-family: "Chronicle";
    src: url(font/Chronicle\ Display\ Black.otf);
}

@font-face {
    font-family: "ChronicleSemi";
    src: url(font/Chronicle\ Display\ Semibold.otf);
}

@font-face {
    font-family: "Gilroy";
    src: url(font/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: "GilroyLight";
    src: url(font/Gilroy-Light.otf);
}

*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

.parent{
    background-color: #0B1D26;
    min-height: 100vh;
    max-height: max-content;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.parent img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
}

.shadow{
    position: absolute;
    width: 1720px;
    height: 100vh;
    background-image: linear-gradient(339deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
}

.parent .mountain{
    top: 308.5px;
}

.parent .grass{
    top: 511px;
}

.shadow2{
    position: absolute;
    top: 670px;
    width: 1710px;
    height: 700px;
    background-image: linear-gradient(180deg, rgba(11, 29, 38, 0) 18%, #0B1D26 61.38%);
}

.background-content{
    position: absolute;
    top: 200vh;
    width: 100vw;
    height: 300vh ;
    background-color: #0B1D26;
}

.navbar{
    position: absolute;
    width: 92%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 53px;
    color: white;
}

.navbar h3{
    font-family: 'Chronicle', Arial, sans-serif;
    font-size: 21px;

}

.navbar ul{
    display: flex;
    margin-right: 30px;
    font-size: 12.5px;
    font-family: 'Gilroy', Arial, sans-serif;
}

.navbar ul li{
    list-style: none;
    margin-left: 23px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar ul li:hover{
    color: #FBD784;
    cursor: pointer;
}

.account{
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.account:hover{
    color: #FBD784;
    cursor: pointer;
}

.account i{
    font-size: 14px;
    margin-right: 6px;
}

.account p{
    font-size: 12.5px;
    font-family: 'Gilroy', Arial, sans-serif;
}

.content{
    position: fixed;
    left: 332px;
    top: 192px;
    width: 650px;
    will-change: opacity, transform;
    opacity: 1;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.content .guide{
    display: flex;
    align-items: center;
    color: #FBD784;
}

.content .line{
    border-bottom: 1.5px solid #FBD784;
    width: 48px;
    margin-right: 16px;
}

.content p{
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 5px;
}

.content h3{
    font-size: 58px;
    font-family: 'ChronicleSemi', Arial, sans-serif;
    margin-top: 16px;
    margin-left: 5px;
    font-weight: 500;
    color: white;
}

.main-content{
    position: absolute;
    width: 75.5%;
    height: auto ;
    top: 950px;
    color: white;
    left: 160px;
}

.card{
    width: 100%;
    height: 480px;
    display: flex;
    position: relative;
    margin-bottom: 140px;
    font-family: 'Gilroy', Arial, sans-serif;
}

.card .number{
    font-size: 160px;
    opacity: 0.1;
    position: absolute;
}



.leftcard{
    width: 45%;
    position: absolute;
    left: 100px;
    top: 90px;
}

.leftcard2{
    width: 45%;
    position: absolute;
    right: 0;
    top: 90px;
}

.leftcard .title .lines,
.leftcard2 .title .lines{
    border-bottom: 1.5px solid #FBD784;
    width: 48px;
    margin-right: 16px;
}

.leftcard .title,
.leftcard2 .title{
    color: #FBD784;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    font-size: 12px;
    margin-bottom: 20px;
}

.leftcard .titledesc,
.leftcard2 .titledesc{
    font-family: 'ChronicleSemi', Arial, sans-serif;
    font-size: 40px;
    word-spacing: 5px;
    margin-bottom: 20px;
    width: 80%;
}

.leftcard .desc,
.leftcard2 .desc{
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
}

.photo{
    height: 100%;
    width: 100%;
    position: absolute;
}

.card .photo img{
    height: 480px;
    width: auto;
    right: 0;
}

.card .leftcard .readmore,
.card .leftcard2 .readmore{
    display: flex;
    align-items: center;
    color: #FBD784;
}

.card .leftcard .readmore p,
.card .leftcard2 .readmore p{
    font-size: 12px;
    margin-right: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.left-footer{
    width: 300px;
}

.left-footer h3{
    font-family: 'Chronicle', Arial, sans-serif;
    font-size: 21px;
    margin-bottom: 20px;
}

.left-footer .footer-content{
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 11.5px;
    line-height: 20px;
    width: 200px;
}

.left-footer .copyright{
    font-family: 'GilroyLight', Arial, sans-serif;
    font-size: 12px;
    margin-top: 84px;
    opacity: 0.5;
}

.right-footer{
    display: flex;
}

.right-footer p{
    font-family: 'Gilroy', Arial, sans-serif;
    color: #FBD784;
}

.right-footer ul li{
    list-style: none;
    margin-top: 19.8px;
    font-family: 'GilroyLight', Arial, sans-serif;
    font-size: 11.5px;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.right-footer ul li:hover{
    color: #FBD784;
}

.more-left{
    margin-right: 140px;
}
